
body{
    font-family: "Arial","Verdana","Open Sans";
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: rgb(50, 43, 128);
}
.manu ul{
    padding: 0;
    margin: 0;
    li{
        display: inline-block;
        margin-top: 12px;
        margin-bottom: 150px;

    }
    a{
        text-decoration: underline;
        margin-right: 12px;

    }
}

.textTitle{
    position: relative;
    .ppp{
        color: #111;
        font-size: 11px;
        font-family: "Times New Roman";
        line-height: 12px;
    }
    h1{
        color: rgb(50, 43, 128);
        font-size: 36px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 9px;

    }
    h6{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 18px;
        margin-top: 12px;
        color: rgb(50, 43, 128);

    }
    p{
        font-size: 12px;
        font-weight: 300;
        text-align: justify;
        line-height: 20px;
        margin-top: 12px;

    }
    .emailinfo{
        margin-bottom: 30px;
        line-height: 30px;
        a{
            color: rgb(50, 43, 128)!important;
        }

    }
    h5{
        font-size: 16px;
        font-weight: 400;
        color: #333;
        margin-bottom: 18px;
    }

}
.bannar{
    width: 640px;
    height: 112px;
    background: #fafafa;
    box-shadow: (0px 0px 12px #e0e0e0);
        .bangarimg{
        width: 30%;
        height: auto;
        float:left;
        margin-right: 15px;
        margin-top: 1%;
        img{
            width: auto;
            height: 60px;
            transform: scale(1);
            transition:all ease 100ms;
            -moz-transition:all ease 100ms;
            -webkit-transition:all ease 100ms;
            -o-transition:all ease 100ms;
            &:hover{
                transform: scale(1.02);
            }
        }
        h2{
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 12px;
        }
    }
    .bangarimg1{
        width: 28%;
        height: auto;
        float: left;
        margin-top: 4%;
        margin-left: 25px;
        img{
            width: auto;
            height: 60px;
            transform: scale(1);
            transition:all ease 100ms;
            -moz-transition:all ease 100ms;
            -webkit-transition:all ease 100ms;
            -o-transition:all ease 100ms;
            &:hover{
                transform: scale(1.02);
            }
        }
    }
    .bangarimg2{
        width: 25%;
        height: auto;
        float: left;
        margin-top: 4%;
        margin-left: 25px;
        img{
            width: auto;
            height: 60px;
            transform: scale(1);
            transition:all ease 100ms;
            -moz-transition:all ease 100ms;
            -webkit-transition:all ease 100ms;
            -o-transition:all ease 100ms;

            &:hover{
               transform: scale(1.02);
            }
        }
    }
}

