body {
  font-family: "Arial","Verdana","Open Sans"; }

* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #322b80; }

.manu ul {
  padding: 0;
  margin: 0; }
  .manu ul li {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 150px; }
  .manu ul a {
    text-decoration: underline;
    margin-right: 12px; }

.textTitle {
  position: relative; }
  .textTitle .ppp {
    color: #111;
    font-size: 11px;
    font-family: "Times New Roman";
    line-height: 12px; }
  .textTitle img {
    width: auto;
    height: 40px;
    margin: 10px 0; }
  .textTitle h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 12px;
    color: #322b80; }
  .textTitle p {
    font-size: 12px;
    font-weight: 300;
    text-align: justify;
    line-height: 20px;
    margin-top: 12px; }
  .textTitle .emailinfo {
    margin-bottom: 30px;
    line-height: 30px; }
    .textTitle .emailinfo a {
      color: #322b80 !important; }
  .textTitle h5 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin-bottom: 18px; }

.bannar {
  width: 460px;
  height: 100px;
  background: #fafafa;
  box-shadow: 0px 0px 12px #e0e0e0; }
  .bannar .bangarimg {
    width: 30%;
    height: auto;
    float: left;
    margin-top: 1%;
    margin-left: 8px; }
    .bannar .bangarimg img {
      width: auto;
      height: 40px;
      transform: scale(1);
      transition: all ease 100ms; }
      .bannar .bangarimg img:hover {
        transform: scale(1.02); }
    .bannar .bangarimg h2 {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 12px; }
  .bannar .bangarimg1 {
    width: 28%;
    height: auto;
    float: left;
    margin-top: 4%;
    margin-left: 25px; }
    .bannar .bangarimg1 img {
      width: auto;
      height: 40px;
      transform: scale(1);
      transition: all ease 100ms; }
      .bannar .bangarimg1 img:hover {
        transform: scale(1.02); }
  .bannar .bangarimg2 {
    width: 25%;
    height: auto;
    float: left;
    margin-top: 4%;
    margin-left: 7px; }
    .bannar .bangarimg2 img {
      width: auto;
      height: 40px;
      transform: scale(1);
      transition: all ease 100ms; }
      .bannar .bangarimg2 img:hover {
        transform: scale(1.02); }
